.content-bookingSeat{
    margin-top: -200px;
    width: 70vw !important;
}

.card-color{
    background-color: #F5F8FF;
    border-radius: 10px;
    padding: 20px;
}

.bg-color-menu{
    background-color: #54d0ef !important;
}

.plane-seat{
    background-color: salmon;
}

@media screen and (max-width: 768px) {
    .content-bookingSeat{
        width: 100vw !important;
    }
}


.skip{
    border: none !important;
    background-color: transparent !important;
}

h1 {
  text-align: center;
}

/* .container {
  width: 600px;
  margin: auto;
} */

.grid td {
  width: 23px;
  height: 35px;
  /* border: 2px solid #11a59e; */
  background-color: #11a59e;
  border-radius: 20px 20px 0px 0;
  text-align: center;
  float: left;
  margin: 5px;
}

.grid td:hover {
  opacity: 0.7;
  cursor: pointer;
}

.reserved {
  background-color: orange;
  background: rgb(9, 22, 201) !important;
  color: #fff;
  display: inline-block;
}

.selected {
  background-color: rgb(255, 19, 26) !important;
  background: rgb(204, 46, 125);
  color: #fff;
  display: inline-block;
}

.background-airplane{
    padding-top: 200px;
    /* background-color: #333; */
    background-image: url("../../assets/images/seatku2.png");
    background-size: cover;
    padding-left: 20px !important;
}

.box{
    background-color: #11a59e;
    border-radius: 5px;
    padding: 5px 15px;
    margin-left: 20px;
    position: relative;
    top: 0;
    left: 20px;
}

.box-selected{
    background-color: rgb(255, 19, 26);
    border-radius: 5px;
    padding: 5px 15px;
    margin-left: 20px;
    position: relative;
    top: 0;
    left: 23px;
}

.box-reserved{
    background-color: rgb(9, 22, 201);
    border-radius: 5px;
    padding: 5px 15px;
    margin-left: 20px;
    position: relative;
    top: 0;
    left: 19px;
}

@media screen and (max-width: 768px) {
    .background-airplane{
        padding-top: 200px !important;
        padding-top: 0px;
        /* background-image: url("../../assets/images/seatbody.png"); */
        background-size: cover;
        padding-right: 20px !important;
    }

    .lg-seat{
      display: none;
    }
}
    
/* .reserved::after {
  content: "R";
} */

/* .selected::after {
  content: "S";
}

.available::after {
  content: "A";
} */

.available {
  color: #333;
}

li {
  list-style: none;
}

.btnmargin {
  margin-top: 15px;
}
