.content-bookingPassenger{
    margin-top: -180px;
    width: 70vw !important;
}

.card-color{
    background-color: #F5F8FF;
    border-radius: 10px;
    padding: 20px;
}

.color-img{
    color: #59C1BD;
}