.content-booking{
    background-color: #F5F8FF;
    height: 36vh;
    width: 70vw;
    position: relative;
    margin: auto;
    margin-top:-12vh;
}

.text-header{
    height: 36vh;
    width: 70vw;
    position: relative;
    margin: auto;
    color: #F5F8FF;
    margin-top:-30vh;
}

.focus{
    border-bottom: 3px solid #59C1BD !important;
    border-radius: 0px !important;
    color: #59C1BD !important;
}