.content{
    background-color: #F5F8FF;
    /* height: 120vh; */
    width: 80%;
    margin-top:-190px;
}

.left{
    height: auto;
    width: 50vw;
}

.right{
    height: auto;
    width: 50vw;
}

.plane{
    height: 100%;
    width: 100%;
}

.plane-img{
    width: 90%;
}

.button{
    background-color: #59C1BD;
}

input{
    border-radius: 12px !important;
    font-weight: 200;
}
