.content{
    background-color: #F5F8FF;
    /* height: 120vh; */
    width: 70vw;
    margin-top:-190px;
}

.left{
    height: auto;
    width: 60vw;
}

.right{
    height: auto;
    width: 40vw;
}

.plane{
    height: 100%;
    width: 100%;
}

.registerBg{
    width: 70vh;
}

.button{
    background-color: #59C1BD;
}

input{
    border-radius: 12px !important;
    font-weight: 200;
}

.form-register{
    padding-left: 20px !important;
}

@media screen and (max-width: 768px) {
    .content{
        width: 90vw;
    }
    .left{
        width: 100vw;
    }
    .right{
        display: none;
    }
    
    .form-register{
        padding: 5px !important;
        padding-left: 10px !important;
        margin: 0px !important;
        border-radius: 8px !important;
        font-size: small !important;
    }

    .form-group label{
        font-size: small !important;
    }

    form h3{
        font-size: medium !important;
    }

    .text-medium{
        font-size: medium !important;
    }
  
}