footer{
    color: #4f4f4f;
    background-color: #59C1BD;
    margin-top:50px;
}

.text-reset{
  text-decoration: none;
}

footer p{
  margin-bottom: 10px;
}

.row-footer{
  margin-top: 50px;
  width: 100% !important;
  

}