.content-detailDestination{
    margin-top: -130px !important;
    width: 60vw !important;
}


.wishlist-icon{
    cursor: pointer;
}

.button-color{
    background-color: #59C1BD !important;
    color: white !important;
}

@media screen and (max-width: 768px) {
    .content-detailDestination{
        overflow: scroll;
        position: fixed;
        margin-top: -0px !important;
        top: 0;
        left: 0;
        padding: 0px !important;
        padding-bottom: 10vh !important;
        width: 100vw !important;
        height: 100% !important;
        background-color: white !important;
    }

    .button-color{ 
        border: none !important;
        border-radius: 5px !important;
        padding: 5px 10px !important;
        font-size: 12px !important;
        font-weight: 600 !important;
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }

    .wishlist-icon{
        text-align: end !important;
        margin: 0px !important;
        position: absolute;
        right: 2vw;
    }

    .icon-heart{
        font-size: 10px !important;
        width: 10vw;
    }
}
