@media screen and (max-width: 768px) {
    .card-personal{
        overflow-y: auto !important;
        overflow-x: hidden  !important;
        width: 100% !important;
        height: 100% !important;
        position: fixed;
        top: 0;
        left: 0;
        padding-bottom: 100px !important;
    }

    .card-content{
        width: 100%;
        height: 100% !important;
    }
}
    